<div class="event-creator-overlay">
  <div class="event-creator-container">
    <span class="close-button" (click)="closeDialog()">&#10005;</span>
    <form [formGroup]="eventForm" (ngSubmit)="createEvent()">
      <div class="form-group">
        <h2> Crear evento </h2>
        <label for="eventName">Nombre:</label>
        <input type="text" id="eventName" formControlName="name" class="form-control">
      </div>
      <div class="form-group">
        <label for="eventDate">Fecha:</label>
        <input type="date" id="eventDate" formControlName="date" class="form-control">
      </div>
      <div class="form-group">
        <label for="eventTime">Hora:</label>
        <input type="time" id="eventTime" formControlName="time" class="form-control">
      </div>
      <div class="form-group">
        <label for="eventCourse">Asignatura:</label>
        <select id="eventCourse" formControlName="course" class="form-control">
          <option *ngFor="let course of courses" [ngValue]="course.id">{{ course.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="eventDescription">Descripción:</label>
        <textarea id="eventDescription" formControlName="description" class="form-control textarea"></textarea>
      </div>
      <div class="action-buttons">
        <button type="button" class="btn btn-secondary" (click)="manageSubjects()">Gestionar asignaturas</button>
        <button type="submit" class="btn btn-primary">Crear evento</button>
      </div>
    </form>
  </div>
</div>
