@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body, html {
  height: 100%;
  background-color: #FFF6E9;
}

.dashboard {
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: #F5CB5C;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.profile-info {
  text-align: center;
}

.profile-icon {
  font-size: 60px;
  color: #242423;
  margin-bottom: 10px;
}

.profile-info h4 {
  color: #242423;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
}

.sidebar-link {
  color: #242423;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sidebar-link:hover {
  background-color: #e1e1e1;
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.cabecera {
  background: #242423;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.grid-item {
  background-color: #CFDBD5;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.grid-item:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.grid-item i {
  font-size: 24px;
  color: #242423;
}

@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }

  .main-content {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
