<div class="event-creator-overlay" @dialog>
  <div class="event-creator-container" @dialog>
    <span class="close-button" (click)="closeDialog()">&#10005;</span>
    <form [formGroup]="courseForm" (ngSubmit)="createCourse()">
      <div class="form-group">
        <h5>Nueva asignatura</h5>
        <label for="courseName">Nombre:</label>
        <input type="text" id="courseName" formControlName="name" class="form-control">
      </div>
      <div class="form-group">
        <label for="courseDescription">Descripción:</label>
        <textarea id="courseDescription" formControlName="description" class="form-control textarea"></textarea>
      </div>
      <div class="action-buttons">
        <button type="submit" class="btn btn-primary">Crear</button>
      </div>
    </form>
  </div>
</div>
