<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div class="event-creator-overlay">
  <div [@dialog] class="event-creator-container">
    <span class="close-button" (click)="closeDialog()">&#10005;</span>
    <form [formGroup]="courseForm" (ngSubmit)="createCourse()">
      <div class="form-group">
        <h4>Crear asignatura</h4>
        <label for="courseName">Nombre:</label>
        <input type="text" id="courseName" formControlName="name" class="form-control">
      </div>
      <div class="form-group">
        <label for="courseDescription">Descripción:</label>
        <textarea id="courseDescription" formControlName="description" class="form-control textarea"></textarea>
      </div>
      <div class="action-buttons">
        <button type="submit" class="btn-primary">
          <i class="fas fa-check"></i>
        </button>
      </div>
    </form>
  </div>
</div>
