<div class="notes-container">
  <div class="add-note-form">
    <input type="text" [(ngModel)]="newNote.title" placeholder="Título" />
    <input type="text" [(ngModel)]="newNote.description" placeholder="Descripción" />
    <button (click)="addNote()">Agregar Nota</button>
  </div>

  <div class="notes-list">
    <div *ngFor="let note of notes" class="note-item">
      <div *ngIf="editingNoteId !== note.id">
        <div class="note-content">
          <h2>{{ note.title }}</h2>
          <p>{{ note.description }}</p>
        </div>
        <div class="note-actions">
          <button (click)="startEdit(note)">Editar</button>
          <button *ngIf="note.id" (click)="deleteNote(note.id!)">Eliminar</button>
        </div>
      </div>
      <div *ngIf="editingNoteId === note.id">
        <input type="text" [(ngModel)]="editingNoteTitle" placeholder="Título" />
        <input type="text" [(ngModel)]="editingNoteDescription" placeholder="Descripción" />
        <button (click)="saveEdit()">Guardar</button>
        <button (click)="cancelEdit()">Cancelar</button>
      </div>
    </div>
  </div>
</div>
