<!-- calendar.component.html -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="calendar-container">
  <div class="calendar-header">
    <button (click)="changeMonth(-1)">
      <span class="material-icons">chevron_left</span>
    </button>
    <div [ngClass]="monthTransition">
      {{ currentMonth.toDate() | date: 'MMMM yyyy' }}
    </div>
    <div>
    <button (click)="createEvent()">
      <span class="material-icons">add</span>
    </button>
    <button (click)="changeMonth(1)">
      <span class="material-icons">chevron_right</span>
    </button>
    </div>
  </div>


  <div class="week-days row">
    <div class="col text-center" *ngFor="let dayName of weekDays">{{ dayName }}</div>
  </div>
  <div *ngFor="let week of weeks" class="row">
    <div class="day col" *ngFor="let date of week" [ngClass]="{'today': isToday(date)}">
      <div *ngIf="date" class="date-number">{{ date.toDate().getDate() }}</div>
      <ul *ngIf="date" class="events-list">
        <ng-container *ngFor="let event of events">
          <li *ngIf="isSameDay(event.date, date)" (click)="selectEvent(event)">
            <strong>{{ event.course?.name ? '(' + event.course?.name + ')' : '' }} {{ event.name | slice:0:30 }}{{event.name.length > 30 ? '...' : ''}}</strong>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</div>

<app-event-viewer *ngIf="selectedEvent" [event]="selectedEvent" (close)="onViewerClose()"></app-event-viewer>
