<div class="profile-container">
  <div class="profile-container02"><h1 class="profile-text03">Perfil</h1></div>
  <div class="profile-container03">
    <div class="profile-container04">
      <div class="profile-container05">
        <img
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          alt="image"
          class="profile-image2"
        />
      </div>
      <div class="profile-container06">
        <span class="profile-text04">John Doe</span>
        <span class="profile-text05">
          <span>Estudiante</span>
          <br />
        </span>
        <button class="profile-logout-button" (click)="Logout()">Logout</button>
      </div>
    </div>
    <div class="profile-container07">
      <div class="profile-container08">
        <button class="profile-text08" [class.selected]="selectedButton === 'Perfil'" (click)="toggleListVisibility('Perfil')">Perfil</button>
        <button class="profile-text09" [class.selected]="selectedButton === 'Notas'" (click)="toggleListVisibility('Notas')">Notas</button>
        <button class="profile-text10" [class.selected]="selectedButton === 'Progreso'" (click)="toggleListVisibility('Progreso')">Progreso</button>
      </div>
      <div class="profile-container09" *ngIf="selectedButton === 'Perfil'">
        <h2 class="profile-text13">Detalles de Usuario</h2>
      </div>
      <div class="profile-container10">
        <div class="profile-container11">
          <ul class="profile-list" *ngIf="isListVisible && selectedButton === 'Perfil'">
            <li class="profile-item">
              <span class="profile-label">Telefono:</span>
              <span class="profile-value">123-456-789</span>
            </li>
            <li class="profile-item">
              <span class="profile-label">Universidad:</span>
              <span class="profile-value">Universidad de las Palmas de Gran Canaria</span>
            </li>
            <li class="profile-item">
              <span class="profile-label">Email:</span>
              <span class="profile-value">{{ userEmail }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
